.map{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1rem;
}
@media (max-width: 850px) {
    .map{
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .text{
        width: 100% !important;
    }
    .map_loading{
        top: 54% !important;
        left: 1rem !important;
        width: 100% !important;
    }
}
.text{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-bg);
    padding: 2rem;
    border-radius: 20px;
    color: white;
        gap: 1rem;
        >select{
            width: 100%;
        padding: 0.7rem;
        text-align: center;
        border-radius: 7px;
        border: none;
        outline: none;
        background-color: #fff;
        color: var(--main-bg);
        font-size: 18px;
    }
}
.geocoder_wrapper{
    width: 100%;
    display: flex !important;
}
.text .date{
    width: 100%;
    font-size: 18px;
    padding: 0.7rem;
    text-align: center;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: #fff;
    color: var(--main-bg);
}
.text .name{
    width: 100%;
    font-size: 18px;
    padding: 0.7rem;
    text-align: center;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: #fff;
    color: var(--main-bg);
}
.text .trip_infos{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    >p{
        color: white;
        white-space: nowrap;
        >span{
            padding: 5px;
            border-radius: 5px;
            background-color: white;
            color: var(--main-bg);
            white-space: nowrap;
        }
    }
}
.map_container{
    position: relative;
}
.map_loading{
    width: 45%;
    height: 500px;
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 999;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}